@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* variables */
:root {
    --border: 3px black solid;
}

html {
    box-sizing: border-box;
    font-family: "Anonymous Pro", "Courier New", Courier, monospace;
}

/* TODO: add mobile/responsive features */

/* project title */
#heading {
    overflow: hidden;
    font-weight: 700;
    font-size: 10em;
    margin: 0;
    padding: 0;
}

/* global paragraph rules */
p {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 0;
}

/* links */
p a {
    text-decoration: none;
    color: black;
}

/* custom highlight color */
::selection {
    background: yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: yellow; /* Gecko Browsers */
}

/* window content */
.root {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: var(--border);
    min-width: 300px;
    min-height: 300px;
    touch-action: none;
}

/* focus hovered window */
.root:hover {
    z-index: 50;
}

/* window title bar */
.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 0.25em;
    border-bottom: var(--border);

    /* disable text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* window title */
.title {
    width: 100%;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* window content */
.content {
    font-size: 1.75em;
    padding: 0.25em;
}

/* window button */
.bar button {
    display: flex;
    border: none;
    /*background-color: rgba(0, 0, 0, 0%);*/
    background-color: lightgray;
    width: 40px;
    justify-content: center;
    align-items: center;
}
.bar button:hover {
    background-color: pink;
}
.bar button:active {
    color: white;
    background-color: red;
}

/* specific windows */
#one {
    background-color: skyblue;
}
#two {
    background-color: limegreen;
}
#three {
    background-color: orange;
}
