@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* variables */
:root {
    --border: 3px black solid;
}

* {
    box-sizing: border-box;
    font-family: "Anonymous Pro", "Courier New", Courier, monospace;
}

/* initial blur */
/*body > *:not(#description) {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}*/

/* TODO: add mobile/responsive features */

/* project title */
#heading {
    overflow: hidden;
    font-weight: 700;
    font-size: 10em;
    margin: 0;
    padding: 0;
}

/* global paragraph rules */
p {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

/* links */
p a {
    text-decoration: none;
    color: black;
}

/* custom highlight color */
::selection {
    background: yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: yellow; /* Gecko Browsers */
}

/* window content */
.root {
    /* positioning */
    position: absolute;
    display: flex;
    flex-direction: column;

    border: var(--border);
    min-width: 300px;
    min-height: 300px;

    touch-action: none;

    /* disable text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* focus hovered window */
.root:hover {
    z-index: 99;
}

/* window title bar */
.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 0.25em;
    border-bottom: var(--border);
}

/* window title */
.title {
    width: 100%;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* window content */
.content {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    font-size: 1.75em;
    padding: 0.25em;
    height: auto;
    line-height: 1.1em;

    /* scroll bar */
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content a {
    color: inherit;
    transition-duration: 250ms;
}
.content a:hover {
    color: black;
    background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
}

/* window button */
.bar button {
    display: flex;
    border: none;
    /*background-color: rgba(0, 0, 0, 0%);*/
    background-color: lightgray;
    width: 40px;
    justify-content: center;
    align-items: center;

    transition-duration: 250ms;
}
.bar button:hover {
    background-color: pink;
}
.bar button:active {
    color: white;
    background-color: red;
}

/* description */
#description {
    z-index: 50;
    background-color: lightgray;
}

/* other windows */
#flash {
    background-color: firebrick;
}
#flash > .content {
    color: white;
}

#two {
    background-color: limegreen;
}
#three {
    background-color: orange;
}
